[reward]
invalid_reward = -100

# angles in degrees
# Exposure time in seconds
[actions]
min_ra = 0
max_ra = 360
num_ra_steps = 10
min_decl = 0
max_decl =  0
num_decl_steps = 0
bands = ["g"]
exposure_time = 300

[constraints]
airmass_limit = 2.0
max_sun_alt = -14.0
min_moon_angle = 20.0

# degrees. Only Latitude required
[site]
latitude = 38.28869

# Length in hours
[schedule]
length = 24
input_weights = {'airmass':1}
obs_vars = ["airmass"]
